@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductionPlanner.Domain.Models.Order
@{
    ViewData["Title"] = "New Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pt-5 px-5 row">
    <div class="col-6">
        <form asp-controller="Order" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Error != null)
            {

                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
            @if (ViewBag.Success != null)
            {

                <div class="alert alert-success" role="alert">
                    @ViewBag.Success
                </div>
            }
            <div class="pb-3">
                <h1><b>New order</b></h1>
                <br />
                <div class="row form-group pl-4">
                    <div class="col-4">
                        <label asp-for="OrderName" class="control-label">Order id:</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="OrderName" type="text" placeholder="Enter order name" style="max-width: 55% !important" />
                        <span asp-validation-for="OrderName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group pl-4">
                    <div class="col-4">
                        <label asp-for="OrderedProduct.ProductName" class="control-label">Product name:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" asp-for="OrderedProduct.ProductName"  asp-items="@ViewBag.ProductNames" style="max-width: 55% !important" ></select>
                        <span asp-validation-for="OrderedProduct.ProductName" class="text-danger"></span>
                    </div>

                </div>
                <div class="row form-group pl-4">
                    <div class="col-4">
                        <label asp-for="Quantity" class="control-label">Quantity</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="Quantity" type="number" style="max-width: 55% !important" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group pl-4">
                    <div class="col-4">
                        <label asp-for="StartDate" class="control-label">Start date: </label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="StartDate" type="date" value="<?php echo date('Y-m-d'); ?>" style="max-width: 55% !important" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group pl-4">
                    <div class="col-4">
                        <label asp-for="EndDate" class="control-label">End date: </label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="EndDate" type="date" value="<?php echo date('Y-m-d'); ?>" style="max-width:55%!important" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Make order" class="btn btn-primary w-75" />
            </div>
        </form>
    </div>



    <div class="col-6 border-left pl-5">
        @if (ViewBag.Messages != null)
        {
            var messages = ViewBag.Messages as List<string>;
            var alert_type = messages.Count > 1 ? "alert-danger" : "alert-success";
        <div class="alert @alert_type" role="alert">
            @foreach (string message in messages)
            {
                <p>@message</p>
            }
        </div>
        }
        <div class="pb-3">
            <h1><b>Existing order</b></h1>
            <br />
            <h5>Import spreadsheet with orders</h5>
            <br />
            <div>
                <form asp-controller="Order" asp-action="ImportOrdersFromSpreadsheet" method="post" enctype="multipart/form-data">

                    <div class="form-group w-75">
                        <input type="file" name="file" class="form-control" accept=".xlsx" />
                    </div>

                    <br /><br />

                    <button type="submit" class="btn btn-primary w-75">Import Orders</button>

                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
