@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ProductionPlanner.Domain.Models.Order>
<br>
<h1><b>All orders</b></h1>
<br>
<table class="table">
    <tr>
        <th>
            Order Name
        </th>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>

        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @item.OrderedProduct.ProductName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                

                <button type="button" class="btn" style="background-color: #61c97d">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "text-decoration:none; color:white" })  
                </button>

                <button type="button" class="btn" style="background-color: #bf75ff ">
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { style = "text-decoration:none; color:white" })
                    @{
                        var tm = "#myModal" + item.Id;
                        var mid = "myModal" + item.Id;
                    }
                </button>

                
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@tm">
                    Delete
                </button>

                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog text-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="mx-auto">
                                    @*<div class="float-right" style="display:block">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>

                                    <br /><br />*@
                                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                </div>
                            </div>
                            <div class="modal-body text-center">
                                Are you sure want to remove this order?
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>